language: java

jdk:
  - oraclejdk8

before_install:
  - openssl aes-256-cbc -K $encrypted_c7a807f32d02_key -iv $encrypted_c7a807f32d02_iv
    -in secring.gpg.enc -out ~\/.gnupg/secring.gpg -d

script:
  - ./gradlew clean publish